@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');
@import "https://unpkg.com/transition-style";

body, html {
    font-family: 'Quicksand', sans-serif;
    color: #222222;
   
    
}

.theBackground{
  background:url("https://wallpx.com/image/2021/07/anime-landscape-anime-starry-sky-night-scenery-mood-house.jpg") ;
  background-size: 100%;
  

}



.theWindow {
    position: absolute;
    margin: auto;
    padding-bottom: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    /* background: linear-gradient(111.74deg, rgba(239, 245, 255, 0.75) 10.26%, rgba(215, 229, 255, 0.75) 53.1%, rgba(215, 229, 255, 0.75) 90.91%); */
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0px 8px 15px rgba(103, 111, 163, 0.5);
    border-radius: 8px;
    
    cursor: move;
    backdrop-filter: blur(5px);
    overflow: scroll;
    overflow-x: hidden;
  }
  ::-webkit-scrollbar {
      width: 0;  /* Remove scrollbar space */
      background: transparent;  /* Optional: just make scrollbar invisible */
  }

    


.topBar {
    margin: 10px 15px;
    display: flex;
}

.topBar .title {
    font-size: 20px;
    margin-top: 2px;
    margin-left: 10px;
}

.topBar .buttons {
    margin-left: auto;
}


.buttons img {
    margin-left: 20px;
}

.main {
    display: flex;
    padding: 10px 50px;
}

.main .title {

    padding: 10px 20px;
    margin-left: 20px;
}
.main .title h1{
  margin-top: 0px;
  margin-left: 0px;
  margin-bottom: 50px;
}

.main img {
    margin-left: auto;
    margin-right: auto;
    width:350px;
    height: fit-content;
    box-shadow: 0px 8px 15px rgba(103, 111, 163, 0.5);
    border-radius: 8px;
    
    

}

.title small {
    margin-bottom: 0px;
    font-size: 30px;
    
}



.title p {
    
    margin-top: 20px;
}

.title .text{
  padding-top: 10px;
  color: #222222;
  padding-bottom: 0px;
  text-align: justify;
  text-decoration: none;
  display: block;
}
.title .text2{

  color: #222222;
  text-align: justify;
  text-decoration: none;
  display: block;
  padding-bottom: 10px;
}
 .text3 {
  margin-left: 70px;
  margin-right: 70px;
  text-align: justify;
}

.Npa{
  margin-left: 70px;
  margin-right: 70px;
}
.gifa{
  margin-left: 70px;
  margin-right: 50px;
  align-content: center;
  width: auto;
  height: auto;
  box-shadow: 0px 8px 15px rgba(103, 111, 163, 0.5);

}
.gifb{
  box-shadow: 0px 8px 15px rgba(103, 111, 163, 0.5);
  width: auto;
  height: auto;

}

.theWindow h1{
  margin-left: 70px;
}

 .contents{

  text-align: center;
  display: flex;
  margin-left: 70px;
  margin-right: 50px;

}

.contents img{
  width: 50%;
 
}

.portfolio .title {
    display: block;
    padding-top: 10px;
    padding-bottom: 12px;
    margin: 10px;
    
}

.main .btn {
    text-decoration: none;
    background: #1b1f25;
    box-shadow: 0px 2px 5px rgba(103, 111, 163, 0.25);
    border-radius: 5px;
    padding: 15px;
   
    font-size: 13px;
   
    color: #ffffff;
    flex: 70%;
}
.btn:hover,
.btn:focus {
  background-color: #fff;
  color: #333;
}


.skills .title {
    display: block;
    padding-top: 40px;
    padding-bottom: 12px;
}

.minimize, .maximize, .exit {
    cursor: pointer;
}

.appShortcut {
    margin: 10px;
    display: none;
    cursor: pointer;
}

.appShortcut img {
    transition: .3s;
}

.appShortcut img:hover {
    filter: drop-shadow(0 5px 5px rgb(55, 76, 190, .5));
}

@media(min-width: 900px) {

    .theWindow {
        width: 860px;
        height: 560px;
    }
}


@media(max-width: 900px) {
    .theWindow {
        width: 90%;
        height: 90%;
        overflow: scroll;
    }
    .theBackground{
        background-size: 300%;
    }
    .btn{
        width: auto;
    height: auto;
    display: block;
    margin-top: 10px;
  
    text-align: center;
    }

    .text3{
      margin-left: 20px;
      margin-right: 20px;
      text-align: justify;
  

    }
    
    .Npa{
      margin-left: 20px;
      margin-right: 20px;
    }
    .title p
    {
      margin-left: -50px;
      margin-right: -50px;
    }
    .gifa{
      display:flex; 
      margin-top: 5px;
      margin-left: 27px;

    

    }
    .gifb{
      display:flex; 
      margin-top: 5px;
      margin-left: 27px;
      margin-right: auto;
    }

    .body-wrapper{
      width: 100%;
      height: 100px;
      flex: wrap;

      
  }
  .body-items {
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    width: 100%;
    
    
}
.contents img{
  width: 110%;
  align-items: center;
  margin-left: -20px;
}

    .main .title{
        margin-top: 270px;
        margin-left: auto;
        margin-right: auto;
    
    }

    .main img{
    
    margin-left: 40px;
    width: 176.80px;
    height: 250px;
    position:fixed;
    align-items: center;
    

    }
    

  }







#butn {
    position: absolute;
    width: 10px;
    height: 10px;
 
    transform: translate(-50%, -50%);
    cursor: pointer;
    background: white;
    border-radius: 50%;
    border: none;
    outline: none; }
    #butn span {
      position: absolute;
      width: 50px;
      height: 4px;
      top: 50%;
      left: 50%;
      background: #fffefe;
      border-radius: 2px;
      overflow: hidden;
      transition: all 0.3s linear; }

  #butn.on:hover span::before {
    width: 100%;
    transition: all 0.3s linear; }
  
  #butn.on span:nth-child(1) {
    animation: span-first-on 0.5s ease-in-out;
    animation-fill-mode: forwards; }
  
  #butn.on span:nth-child(2) {
    animation: span-second-on 0.5s ease-in-out;
    animation-fill-mode: forwards; }
  
  #butn.on span:nth-child(3) {
    animation: span-third-on 0.5s ease-in-out;
    animation-fill-mode: forwards; }

    #butn span::before {
        content: '';
        position: absolute;
        width: 0;
        height: 100%;
        top: 0;
        right: 0;
        background: gray;
        transition: all 0.3s linear; }
      /* #butn span:nth-child(1) {
        animation: span-first-off 0.5s ease-in-out;
        animation-fill-mode: forwards; }
      #butn span:nth-child(2) {
        animation: span-second-off 0.5s ease-in-out;
        animation-fill-mode: forwards; }
      #butn span:nth-child(3) {
        animation: span-third-off 0.5s ease-in-out;
        animation-fill-mode: forwards; } */
  
  
  @keyframes span-first-on {
    0% {
      transform: translate(-50%, -300%); }
    30% {
      transform: translate(-50%, -50%); }
    100% {
      transform: translate(-50%, -50%) rotate(-45deg); } }
/*   
  @keyframes span-first-off {
    0% {
      transform: translate(-50%, -50%) rotate(-45deg); }
    30% {
      transform: translate(-50%, -50%) rotate(0deg); }
    100% {
      transform: translate(-50%, -300%); } } */
  
  @keyframes span-second-on {
    0% {
      transform: translate(-50%, -50%); }
    25% {
      background: gray; }
    50% {
      transform: translate(-50%, -50%) scale(1); }
    100% {
      transform: translate(-150%, -50%) scale(0); } }
  
  /* @keyframes span-second-off {
    0% {
      transform: translate(-150%, -50%) scale(0); }
    25% {
      background: gray; }
    50% {
      transform: translate(-50%, -50%) scale(1); }
    100% {
      transform: translate(-50%, -50%); } } */
  
  @keyframes span-third-on {
    0% {
      transform: translate(-50%, 200%); }
    30% {
      transform: translate(-50%, -50%); }
    100% {
      transform: translate(-50%, -50%) rotate(45deg); } }
  
  /* @keyframes span-third-off {
    0% {
      transform: translate(-50%, -50%) rotate(45deg); }
    30% {
      transform: translate(-50%, -50%) rotate(0deg); }
    100% {
      transform: translate(-50%, 200%); } }
   */

   @keyframes wipe-out-bottom-right {
    from {
      clip-path: polygon(50% -50%, 150% 50%, 50% 150%, -50% 50%);
    }
    to {
      clip-path: polygon(150% 50%, 150% 50%, 50% 150%, 50% 150%);
    }
  }
  
  [transition-style="out:wipe:bottom-right"] {
    animation: 2.5s cubic-bezier(.25, 1, .30, 1) wipe-out-bottom-right both;
  }